
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --main-color: #212429;
    --secondary-color: #ffffff;
    --nav-footer-size: 16px;
    --title-size: 32px;
    --tarjeta-size: 14px;
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --space-4:40px;
    --max-width: 1280px;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-color);
}


.container {
    display: grid;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--space-2);
}


.header{
    font-size: var(--nav-footer-size);
    position: sticky;
    top: 0;
    z-index: 5;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--main-color);
    padding: var(--space-2);
    font-size: var(--nav-footer-size);
    background-color: var(--secondary-color);
}

.menu .item {
    width: var(--space-3);
    height: var(--space-2);
    margin: 0 var(--space-1);
}

.menu a {
    text-decoration: none;
    color: var(--main-color);
    margin: 0 var(--space-3);
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #888;
}
.footer a:hover{
    color: #888;
    transform: scale(1.1);
    transition: color 0.1s ease;
}
h1 {
    font-size: var(--title-size);
    margin-bottom: var(--space-3);
}


.imagenes {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--space-2);
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: var(--tarjeta-size);
    padding: var(--space-2);
    transition: transform 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: auto;
    margin-bottom: var(--space-1);
}

.precio {
    font-weight: 700;
    margin-bottom: 4px;
}

a{
    text-decoration: none;
    color: var(--main-color);
    color: #ffffff;
}

.footer {
    background-color: var(--main-color);
    font-size:var(--space-1);
    font-weight: bold;
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-2);
    align-items: center;
    justify-items: center;
    padding: var(--space-2);
}

.footer > div {
    display: flex;
    font-size: var(--space-2);
    align-items: center;
    gap: var(--space-1);
    font-size: var(--space-2);
}


.footer img {
    background-color: var(--secondary-color);
    border-radius: 30% 40% 30% 40%;
    width: var(--space-4);       
    height: var(--space-4);
    padding: var(--space-1);
}

@media screen and (max-width: 920px) {
    
    .imagenes {
        grid-template-columns: 1fr;
        gap: var(--space-2);
    }
    body {
        font-size: var(--space-2);
    }   
    .menu{
        flex-direction: column;
        gap: var(--space-1);
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: var(--space-2);
        padding: var(--space-2);
    }
    .footer > div {
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: var(--space-2);
        border-bottom: 1px solid #ffffff;
    }
    .tarjeta {
        padding: var(--space-1);
    }
    .tarjeta img {
        width: 100%;
        height: auto;
        margin-bottom: var(--space-1);
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .menu a:not(:first-child) {
        display: none;
    }
}